body {
   background:url("../assets/images/wallpaper1.jpg");
   background-repeat: no-repeat;
  
}


.container-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    color : white;
    max-width: 1200px;
}

.section-chat {
    color: black;
    height: 400px;
    margin-bottom: 10px;
    width: 700px;
    border: 2px solid black;
    max-height: 500px;
    min-height: 500px;
    background: rgba(100, 100, 51, .3);
    overflow-y: scroll;
}

li {
    list-style: none;
}

.sendmessage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendmessage button {
    margin-left: 10px;
}


label {
    background-color:rgb(46, 44, 44);
    text-align: center;
    margin-top: 10px;
    display: inline;
}

.characters {
    font-size: 13px;
    margin:0 auto;
}

.characters img {
   width: 40px;
   height: 40px;
   display: inline;
   margin:0;
   margin-right: 10px;
}

.characters strong {
    font-size: 20px;
}

.characters p {
    font-size: 17px;
    font-weight: bold;
}